**/__pycache__/

/notebooks/cnn_parameters/
/notebooks/results/
# temporary symlink:
/notebooks/uxo_cnn_classification
/notebooks/.ipynb_checkpoints
/notebooks/cells*
/notebooks/patches
/notebooks/get-field-data-patch.ipynb
